## <center> Strings, Lists & Tuples

 ## STRINGS

#### format()

In [1]:
name="Reshma"
age=25
txt="My name is {}, age is {}."
print(txt.format(name,age))

My name is Reshma, age is 25.

In [2]:
#indexing in format
txt1="My name is {1}, age is {0}."
print(txt1.format(name,age))

My name is 25, age is Reshma.

#### input()

In [3]:
x=input('Enter a name:')
print(x)

Enter a name:Reshma
Reshma

In [4]:
y=int(input('Enter a number:'))
print(y)

Enter a number:10000
10000

In [34]:
name=input("Enter your name:")
age=int(input('Enter your age:'))
print("your name is {} and age is {}".format(name,age))

Enter your name:Reshma
Enter your age:25
your name is Reshma  and age is 25

## LIST

In [5]:
list1=['a','b','c']
list2=[1,2,3,4]
list3=[True,False]
list4=['a',1,2.4,True]
print(list1)
print(list2)
print(list3)
print(list4)

['a', 'b', 'c']
[1, 2, 3, 4]
[True, False]
['a', 1, 2.4, True]

In [6]:
print(len(list1)) #length of list

3

In [8]:
print(list1[0])
print(list1[-1])
print(list4[2])
print(list1[0:2])

a
c
2.4
['a', 'b']

In [9]:
# list is changable
list1[0]='A'
print(list1)
list1[1:]=['B','C']
print(list1)

['A', 'b', 'c']
['A', 'B', 'C']

In [10]:
# add items
list5=list1+list2
print(list5)

['A', 'B', 'C', 1, 2, 3, 4]

#### append()

In [11]:
# to add item to the end of the list
list1.append('D')
print(list1)

['A', 'B', 'C', 'D']

#### extend()

In [12]:
#to extend the existing list
list1.extend(list4)
print(list1)

['A', 'B', 'C', 'D', 'a', 1, 2.4, True]

#### remove()

In [14]:
#to remove a particular item
list1.remove('C')
print(list1)

['A', 'B', 'D', 'a', 1, 2.4, True]

#### pop()

In [15]:
# to remove an item from a particular position
list1.pop(1)
print(list1)
list1.pop() #removes end item defaultly
print(list1)

['A', 'D', 'a', 1, 2.4, True]
['A', 'D', 'a', 1, 2.4]

#### delete()

In [16]:
#delete first element in the list
del list1[0]
print(list1)

['D', 'a', 1, 2.4]

#### insert()

In [17]:
# to insert an item to a specfic position
list1.insert(1,'b')
print(list1)

['D', 'b', 'a', 1, 2.4]

#### clear()

In [18]:
# to make a list empty
list1.clear()
print(list1)

[]

In [21]:
del list2 # to delete a list

## TUPLE

In [22]:
a=(1,2,'a','b','c')
print(a)
print(type(a))

(1, 2, 'a', 'b', 'c')
<class 'tuple'>

In [24]:
b=('a',)
print(type(b))

<class 'tuple'>

In [25]:
print(len(a))

5

In [28]:
print(a[1])
print(a[-2])

2
b

In [30]:
# tuple is unchangable. To make any changes in the tuple first we need to convert tuple into a list
c=list(a)
print(c)

[1, 2, 'a', 'b', 'c']

In [31]:
c[0]='d'
print(c)
a=tuple(c)
print(a)

['d', 2, 'a', 'b', 'c']
('d', 2, 'a', 'b', 'c')

In [32]:
# adding tuples
a+b

('d', 2, 'a', 'b', 'c', 'a')