## List

In [1]:
a=['Apple','Orange','Grape']

#### print the second item

In [2]:
a[1]

'Orange'

#### change apple to lemon

In [8]:
a[0]='Lemon'
print(a)

['Lemon', 'Orange', 'Grape']

#### add watermelon to the list

In [9]:
a.append('Water melon')
print(a)

['Lemon', 'Orange', 'Grape', 'Water melon']

#### remove orange

In [10]:
a.remove('Orange')
print(a)

['Lemon', 'Grape', 'Water melon']

#### print the last item

In [11]:
a[-1]

'Water melon'

#### print first and second items

In [12]:
a[:2]

['Lemon', 'Grape']

#### print number of items

In [13]:
len(a)

3

## Conditional statements

### if

In [14]:
a=5
b=10
if b>a:
    print('b is greater than a')

b is greater than a

### elif

In [15]:
a=int(input('Enter a number:'))
b=int(input('Enter a number:'))
if a>b:
    print('a is greater than b')
elif a<b:
    print('b is greater than a')
elif a==b:
    print('a is equal to b')
else:
    print('No matching result')

Enter a number:1000
Enter a number:41587
b is greater than a

### nested if

In [18]:
x=10
if x<40:
    if x>5:
        print(x)

10

## Logical operators

In [19]:
x=5
x<10 and x>5

False

In [20]:
x<10 or x<5

True

In [21]:
not(x<10 or x<5)

False

In [22]:
if a>b or a>10:
    pass

## Loop Conditions

### while loop

In [3]:
i=1
while i < 6:
    print(i)
    i+=1

1
2
3
4
5

#### break

In [4]:
i=1
while i < 6:
    print(i)
    if i==3:
        break
    i+=1

1
2
3

### for loop

In [5]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [6]:
for i in range(1,6,2):
    print(i)

1
3
5

## PROGRAMMING QUESTION ANSWERS

#### 1. WAP to check whether a number entered by user is even or odd

In [23]:
a=int(input("Enter a number:"))
if a%2==0:
    print(a,"is even")
else:
    print(a,"is odd")

Enter a number:44
44 is even

#### 2. WAP to check whether a person is eligible to vote or not

In [24]:
age=int(input("Enter age:"))
if age>=18:
    print("Eligible")
else:
    print("Not eligible")

Enter age:18
Eligible

#### 3. WAP to check whether a number is divisible by 7 or not

In [26]:
n=int(input("Enter a number:"))
if n%7==0:
    print("divisible by 7")
else:
    print("not divisible by 7")

Enter a number:12457
not divisible by 7

#### 4. WAP to display 'hello' if a number entered by user is a multiple of 5., othervise print 'bye'

In [27]:
n=int(input("enter a number:"))
if n%5==0:
    print("Hello")
else:
    print("Bye")

enter a number:365
Hello

#### 5.WAP to accept percentage from user & display the grade according to the following criteria

In [29]:
P=int(input("enter marks in percentage:"))
if P>90:
    print("A grade")
elif P<=90 & P>80:
    print("B grade")
elif P<=80 & P>=60:
    print("C grade")
else:
    print("D grade")

enter marks in percentage:90
B grade

#### 6. wap to display the last digit of a number

In [1]:
n=int(input("Enter a number:"))
print(n%10)

Enter a number:897
7

#### 7. WAP to check whether the last digit of number is divisible by 3 or not

In [4]:
n=int(input("Enter a number:"))
if (n%10)%3==0:
    print("last digit is divisible by 3")
else:
    print('not divisible')

Enter a number:87600
last digit is divisible by 3

#### 8. print the first 10 natural numbers using for loop

In [5]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
i=1
while i<11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

#### 9. print all even numbers upto 20

In [7]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [8]:
for i in range(2,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

#### 10. print all odd numbers upto 10

In [9]:
for i in range(10):
    if i%2!=0:
        print(i)

1
3
5
7
9

In [10]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

#### 11. calculate the sum of all numbers from 1 to 10

In [12]:
s=0
for i in range(1,11):
    s+=i
print(s)

55

#### 12. print sum of all numbers

In [13]:
r=int(input("Enter a number for range:"))
s=0
for i in range(r):
    if i%2!=0:
        s+=i
print(s)

Enter a number for range:15
49

#### 13. print the multiplication table of a given number

In [14]:
a=int(input("Enter a number:"))
for i in range(1,11):
    print(i,'*',a,'=',a*i)

Enter a number:7
1 * 7 = 7
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
10 * 7 = 70

#### 14. print the characters in a string

In [15]:
a='Hello'
for i in a:
    print(i)

H
e
l
l
o

In [16]:
for i in range(len(a)):
    print(a[i])

H
e
l
l
o

#### 15. print the characters from a string that are present at an even index

In [19]:
str=input("Enter a string:")
for i in range(2,len(str)):
    if i%2==0:
        print(str[i])

Enter a string:python is powerfull
t
o

s
p
w
r
u
l