### <CENTER>PROGRAMMING QUESTIONS ANSWERS

#### 16. check if the first and last items of a list are same

In [1]:
list=['a',1,2,'b',4]
if list[0]==list[-1]:
    print('same')
else:
    print('not same')

not same

#### 17. print the number that are divisible by 5 from a given list

In [2]:
a=[5,10,12,11,25]
for i in a:
    if i%5==0:
        print(i)

5
10
25

### Nested for Loop

In [3]:
for i in range(1,10):
    for j in range(i+1):
        print(j)
    print()

0
1

0
1
2

0
1
2
3

0
1
2
3
4

0
1
2
3
4
5

0
1
2
3
4
5
6

0
1
2
3
4
5
6
7

0
1
2
3
4
5
6
7
8

0
1
2
3
4
5
6
7
8
9

In [4]:
for i in range(1,10):
    for j in range(i+1):
        print(j,end=" ")
    print()

0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7 8 9

In [5]:
for i in range(6):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

#### input------>L1=["M","na","i","Ke"]  ,        L2=["y","me","s","lly"]

#### output----->["My","name","is","Kelly"]

In [6]:
L1=["M","na","i","Ke"]
L2=["y","me","s","lly"]

L=[]
for i in range(len(L1)):
    a=L1[i]+L2[i]
    L.append(a)
print(L)

['My', 'name', 'is', 'Kelly']

#### input------>L1=["Hello","Take"]  ,        L2=["Dear","Sir"]

#### output----->["HelloDear","HelloSir","TakeDear","TakrSir"]

In [7]:
L1=["Hello","Take"] 
L2=["Dear","Sir"]

L=[]
for i in L1:
    for j in L2:
        a=i+j
        L.append(a)
print(L)

['HelloDear', 'HelloSir', 'TakeDear', 'TakeSir']

In [8]:
Ls=[]
for i in range(len(L1)):
    for j in range(len(L2)):
        a=L1[i]+L2[j]
        Ls.append(a)
        
print(Ls)

['HelloDear', 'HelloSir', 'TakeDear', 'TakeSir']

#### input------>a=[1,2,3,4,5]

#### output----->b=[1,4,9,16,25]

In [9]:
a=[1,2,3,4,5]

b=[]
for i in a:
    b.append(i**2)
print(b)

[1, 4, 9, 16, 25]

#### input------>list1=[10,20,[300,400,[5000,6000],500],30,40]

#### output----->[10,20,[300,400,[5000,6000,7000],500],30,40]

In [10]:
list1=[10,20,[300,400,[5000,6000],500],30,40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## SET

In [11]:
names={'riya','anu','ram','sam'}

In [12]:
len(names)

4

In [13]:
type(names)

set

In [14]:
for x in names:
    print(x)

anu
riya
sam
ram

In [15]:
names.add('ann')
print(names)

{'ann', 'ram', 'anu', 'riya', 'sam'}

In [16]:
age={22,30,26,25,17}
names.update(age)
names

{17, 22, 25, 26, 30, 'ann', 'anu', 'ram', 'riya', 'sam'}

In [17]:
names.union(age)

{17, 22, 25, 26, 30, 'ann', 'anu', 'ram', 'riya', 'sam'}

In [18]:
person={'sam','sita','ann','maya'}
names.intersection(person)

{'ann', 'sam'}

In [19]:
names.remove('ram')
print(names)

{26, 'ann', 'anu', 17, 22, 25, 'riya', 'sam', 30}

In [20]:
names.discard('riya')
print(names)

{26, 'ann', 'anu', 17, 22, 25, 'sam', 30}

In [21]:
names.pop()

26

In [22]:
names.clear()
names

set()

In [23]:
del names

## DICTIONARY

In [24]:
Person1={'Name':'Ram',
        'Age':26,
        'gmail':'abc@gmail.com'}

In [25]:
print(Person1['Name'])

Ram

In [26]:
print(Person1['gmail'])

abc@gmail.com

In [27]:
Person1.get('Name')

'Ram'

In [28]:
Person1.keys()

dict_keys(['Name', 'Age', 'gmail'])

In [29]:
Person1.values()

dict_values(['Ram', 26, 'abc@gmail.com'])

In [30]:
Person1.items()

dict_items([('Name', 'Ram'), ('Age', 26), ('gmail', 'abc@gmail.com')])

In [31]:
len(Person1)

3

In [32]:
type(Person1)

dict

In [33]:
# to change item in dictionary
Person1['Age']=27
print(Person1)

{'Name': 'Ram', 'Age': 27, 'gmail': 'abc@gmail.com'}

In [34]:
Person1.update({'Age': 29})
print(Person1)

{'Name': 'Ram', 'Age': 29, 'gmail': 'abc@gmail.com'}

In [35]:
# to add items
Person1['contact']=8799764934
print(Person1)

{'Name': 'Ram', 'Age': 29, 'gmail': 'abc@gmail.com', 'contact': 8799764934}

In [36]:
# to remove
Person1.pop('Age')

29

In [37]:
print(Person1)

{'Name': 'Ram', 'gmail': 'abc@gmail.com', 'contact': 8799764934}

In [38]:
Person1.popitem()

('contact', 8799764934)

In [39]:
print(Person1)

{'Name': 'Ram', 'gmail': 'abc@gmail.com'}

In [40]:
del Person1['gmail']
print(Person1)

{'Name': 'Ram'}

In [41]:
# clear
Person1.clear()
print(Person1)

{}

In [42]:
del Person1

#### using for loop

In [43]:
Person2={'Name': 'Ram', 'Age': 29, 'gmail': 'abc@gmail.com', 'contact': 8799764934,'salry':100000}

In [44]:
# to print keys in dictionary
for x in Person2:
    print(x)

Name
Age
gmail
contact
salry

In [45]:
for x in Person2.keys():
    print(x)

Name
Age
gmail
contact
salry

In [46]:
# to access values
for x in Person2:
    print(Person2[x])

Ram
29
abc@gmail.com
8799764934
100000

In [47]:
for x in Person2.values():
    print(x)

Ram
29
abc@gmail.com
8799764934
100000

### Question  Answers

#### WAP to calculate the factorial of a number

In [48]:
n=int(input("Enter a number:"))
fact=1
for i in range(1,n+1):
    fact*=i
print(fact)

Enter a number:15
1307674368000

#### print the numbers from -10 to -1

In [49]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

#### WAP to reverse a number

In [50]:
n=34567
reverse_num=0
while n>0:
    reminder=n%10
    reverse_num=(reverse_num*10)+reminder
    n=n//10
print(reverse_num)

76543

#### calculatre the cube of all numbers from 1 to a given number

In [51]:
n=int(input("Enter a number:"))
for i in range(1,n+1):
    print(i**3)

Enter a number:20
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000

#### store cubes into a list

In [54]:
l=[]
n=int(input("Enter a number:"))
for i in range(1,n+1):
    x=i**3
    l.append(x)
print(l)

Enter a number:10
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

#### delete a list of keys from a dictionary

In [55]:
Personal={'name':'janu','age':27,'salary':30000,'city':'mysore'}
keys=['name','salary']

for i in keys:
    Personal.pop(i)
print(Personal)

{'age': 27, 'city': 'mysore'}

#### pattern creation using python

In [57]:
for i in range(5):
    for j in range(i+1):
        print(j,end=" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [58]:
for i in range(1,5):
    for j in range(i+1):
        print(i,end=" ")
    print()

1 1
2 2 2
3 3 3 3
4 4 4 4 4